<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="login" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;User ID=DANGNHAP;Password=DANGNHAP;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="partner" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;User ID=DOITAC1; Password=DOITAC1;Connect Timeout=30; Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="customer" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;;User ID=KHACHHANG1; Password=KHACHHANG1;Connect Timeout=30; Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="shipper" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;User ID=TAIXE1; Password=TAIXE1;Connect Timeout=30; Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="admin" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;User ID=QTV1; Password=QTV1;Connect Timeout=30; Encrypt=False;TrustServerCertificate=False;MultiSubnetFailover=False"/>
		<add name="nhanvien" connectionString="Data Source=MSI\PHILIPS;Initial Catalog=CHUYEN_HANG_ONLINE;User ID=NHANVIEN1; Password=NHANVIEN1;Connect Timeout=30; Encrypt=False;TrustServerCertificate=False;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>
